*,::before,::after{margin: 0; box-sizing: border-box;}
a{text-decoration: none;}
ul{list-style: none; padding: 0;}
button{cursor: pointer; padding: 0;}
label{display: block;}
img{vertical-align: bottom;}

@font-face {
    font-family: Poppins;
    src: url(./Font/Poppins/Poppins-Bold.woff2);
    font-weight: 700;
}
@font-face {
    font-family: Poppins;
    src: url(./Font/Poppins/Poppins-SemiBold.woff2);
    font-weight: 600;
}
@font-face {
    font-family: Poppins;
    src: url(./Font/Poppins/Poppins-Medium.woff2);
    font-weight: 500;
}
@font-face {
    font-family: Poppins;
    src: url(./Font/Poppins/Poppins-Regular.woff2);
    font-weight: 400;
}
@font-face {
    font-family: Poppins;
    src: url(./Font/Poppins/Poppins-Light.woff2);
    font-weight: 300;
}

html{
    scroll-behavior: smooth;
    scroll-padding: 80px;
    font-size: 15px;
    --ff:Poppins,sans-serif;
}

body{
    font-size: 16px;
    font-family: var(--ff);
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 0 1rem;
}

.row{ display: flex; flex-flow: row wrap; margin: 0 -1rem; }
[class^="col"]{ flex: 1 0 auto; padding: 0 1rem; }
.col-1{ flex-basis:8.33%; max-width: 8.33%;}
.col-2{ flex-basis:16.66%; max-width: 16.66%;}
.col-3{ flex-basis:25%; max-width: 25%;}
.col-4{ flex-basis:33.33%; max-width: 33.33%;}
.col-5{ flex-basis:41.66%; max-width: 41.66%;}
.col-6{ flex-basis:50%; max-width: 50%;}
.col-7{ flex-basis:58.33%; max-width: 58.33%;}
.col-8{ flex-basis:66.66%; max-width: 66.66%;}
.col-9{ flex-basis:75%; max-width: 75%;}
.col-10{ flex-basis:83.33%; max-width: 83.33%;}
.col-11{ flex-basis:91.66%; max-width: 91.66%;}
.col-12{ flex-basis:100%; max-width: 100%;}
.flex{display: flex;}
.justify-space-bet{justify-content: space-between;}
.justify-center{justify-content: center;}
.align-center{align-items: center;}
.fixed{position: fixed;}

/* Custom CSS */
header{position: sticky; z-index: 100; top: 0;}
.wrap-1{ padding: 1.5rem 0; background:linear-gradient(90deg, #06beb6 0%, #48b1bf 100%);}
.bgcolor{background:linear-gradient(90deg, #06beb6 0%, #48b1bf 100%);}
.wrap-1 h1{font: 700 2rem var(--ff); color: #f8f9fa; text-align: center;}
nav ul li a{color: #fff; font: 500 20px var(--ff); padding: 10px;}
nav ul li a:hover{color: #414141;}
.wrap-1 button{display: none;}

.wrap-2{padding: 100px 0 50px; background: linear-gradient(90deg, #06beb6 0%, #48b1bf 100%);}
.wrap-2 .banner h2{color: #fff; font: 500 3rem var(--ff);}
.wrap-2 .banner h3 {font: 700 100px var(--ff); color: #06beb6; -webkit-text-stroke: 2px #ffffff;}
.wrap-2 .banner h4{color: #fff; font: 400 25px var(--ff);}
.wrap-2 a{width: 215px; height: 70px; color: #06beb6; display: inline-block; background: #f8f9fa; font: 500 20px var(--ff); padding: 20px; margin: 50px 20px 0 0; text-align: center;}
.wrap-2 .img {text-align: center; margin-top: 2rem;}
.wrap-2 img{max-width: 100%; height: auto; border-radius: 10px; }

.wrap-3{padding: 80px 0; color: #06beb6; background: #f8f9fa;}
.wrap-3 h2{text-align: center; font: 500 2rem var(--ff); margin-bottom: 3rem;}
.wrap-3 h3{font: 600 2rem var(--ff); color: #343a40;}
.wrap-3 h4{font: 400 1.5rem var(--ff); margin-bottom: 1rem; color: #343a40;}
.wrap-3 p{font:400 18px var(--ff); line-height: 30px; color: #4e5459;}
.wrap-3 img{max-width: 100%; height: auto; border-radius: 5px;}
.wrap-3 .img{text-align: center;}

.wrap-4{padding: 40px 0;}
.wrap-4 h2{text-align: center; font: 500 2rem var(--ff); margin-bottom: 3rem; color: #06beb6;}
.wrap-4 h3{font: 600 20px var(--ff); color: #000000d1; margin: 15px 0;}
.wrap-4 .progress-bar{background: #727171; width: 570px; height: 10px; border-radius: 5px; margin: 10px 0 10px 0;}
.wrap-4 .progress-bar div{width: 0%; height: 10px; border-radius: 5px; background:#06beb6;}
.wrap-4 .progress-bar div span{float: right; width: 40px; height: 40px; border-radius: 50%; background: #48b1bf; color: #fff; margin-top: -15px; margin-right: -20px;  display: grid; place-items: center; }
.wrap-4 .html{animation: html 1s linear forwards;}
.wrap-4 .css{animation: css 1s linear forwards;}
.wrap-4 .boot{animation: boot 1s linear forwards;}
.wrap-4 .js{animation: js 1s linear forwards;}
.wrap-4 .jquery{animation: jquery 1s linear forwards;}
.wrap-4 .react{animation: react 1s linear forwards;}
@keyframes html {
    100%{
        width: 86%;
    }
}
@keyframes css {
    100%{
        width: 76%;
    }
}
@keyframes boot {
    100%{
        width: 56%;
    }
}
@keyframes js {
    100%{
        width: 60%;
    }
}
@keyframes jquery {
    100%{
        width: 65%;
    }
}
@keyframes react {
    100%{
        width: 56%;
    }
}


.wrap-5{padding: 40px 0;  text-align: center; background: #d3d3d340;}
.wrap-5 .circle{width: 60px; height: 60px; border: 2px solid #fff; border-radius: 50%; display: grid; place-items: center; margin: 10px 0; font-size: 2rem; background: #06beb6; color: #f8f9fa;}
.wrap-5 h2{font: 400 22px var(--ff); padding-bottom: 20px; color: #343a40;}
.wrap-5 a,address{font: 300 18px var(--ff); color: #343a40; line-height: 35px;}
.wrap-5 .box{ padding: 30px 0; box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;}

.wrap-6{padding: 50px 0; overflow: hidden;}
.wrap-6 h2{text-align: center; font: 500 2rem var(--ff); margin-bottom: 3rem; color: #06beb6;}
.wrap-6 .pos{padding: 10px 40px; position: relative;}
.wrap-6 .box1{padding: 20px 30px; position: relative; box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;}
.wrap-6 .box1 h3{font: 600 18px var(--ff); color: #343a40;}
.wrap-6 .box1 h4{font: 500 17px var(--ff); padding: 10px 0; color: #414141;}
.wrap-6 .box1 p{font: 400 17px var(--ff); color: #727171;}
.left-pos{left: 0;}
.right-pos{left: 100%;}
.wrap-6  span.fa-regular{font-size: 25px; color: #06beb6; position: absolute; z-index: 10;right: -22px; top: 32px;}
.wrap-6 .right-pos span.fa-regular{left: -3px;}
.wrap-6 .col-6{position: relative;}
.vertical-line::after{
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    background: #06beb6;
    top: 0px;
    left: 100%;
    z-index: -1;
    margin-left: -8px;
}
.left-arrow{position: absolute; top: 28px; z-index: 1; right: -10px; color: #06beb6;}
.right-arrow{position: absolute; top: 28px; z-index: 1; left: -10px; color: #06beb6;}


.wrap-7{padding: 50px 0; text-align: center;}
.wrap-7 h2{font: 500 2rem var(--ff); margin-bottom: 3rem; color: #06beb6;}
.wrap-7 span{font-size: 3.5rem; border: 2px solid #06beb6; padding: 1rem; color: #06beb6;}
.wrap-7 h3{font: 600 20px var(--ff); padding: 12px; color: #343a40;}
.wrap-7 p{font: 400 16px var(--ff); margin-bottom: 20px; color: #727171;}
.wrap-7 a{color: #06beb6; border-bottom: 1px solid #06beb6;}
.wrap-7 .ser{ padding: 25px; margin-bottom: 4rem; border: 2px solid #06beb6; box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;}

.wrap-8{padding: 50px 0; text-align: center;}
.wrap-8 .pro1{background: url("../Image/Project1.png") no-repeat top/cover; width: 100%; height: 400px; transition: all ease-in-out 5s;}
.wrap-8 .pro1:hover{background-position-y: bottom; transition: all ease-in-out 5s;}
.wrap-8 .pro2{background: url("../Image/Project2.png") no-repeat top/cover; width: 100%; height: 400px; transition: all ease-in-out 5s;}
.wrap-8 .pro2:hover{background-position-y: bottom; transition: all ease-in-out 5s;}
.wrap-8 .pro3{background: url("../Image/Project3.png") no-repeat top/cover; width: 100%; height: 400px; transition: all ease-in-out 5s;}
.wrap-8 .pro3:hover{background-position-y: bottom; transition: all ease-in-out 5s;}
.wrap-8 .pro4{background: url("../Image/Project4.png") no-repeat top/cover; width: 100%; height: 400px; transition: all ease-in-out 5s;}
.wrap-8 .pro4:hover{background-position-y: bottom; transition: all ease-in-out 5s;}
.wrap-8 .pro5{background: url("../Image/Project5.png") no-repeat top/cover; width: 100%; height: 400px; transition: all ease-in-out 5s;}
.wrap-8 .pro5:hover{background-position-y: bottom; transition: all ease-in-out 5s;}
.wrap-8 .pro6{background: url("../Image/Project6.png") no-repeat top/cover; width: 100%; height: 400px; transition: all ease-in-out 5s;}
.wrap-8 .pro6:hover{background-position-y: bottom; transition: all ease-in-out 5s;}
.wrap-8 .pro7{background: url("../Image/Project7.png") no-repeat top/cover; width: 100%; height: 400px; transition: all ease-in-out 5s;}
.wrap-8 .pro7:hover:hover{background-position-y: bottom; transition: all ease-in-out 5s;}
.wrap-8 .pro8{background: url("../Image/Project8.webp") no-repeat top/cover; width: 100%; height: 400px; transition: all ease-in-out 5s;}
.wrap-8 .pro8:hover:hover{background-position-y: bottom; transition: all ease-in-out 5s;}
.wrap-8 .pro9{background: url("../Image/Project9.webp") no-repeat top/cover; width: 100%; height: 400px; transition: all ease-in-out 5s;}
.wrap-8 .pro9:hover:hover{background-position-y: bottom; transition: all ease-in-out 5s;}
.wrap-8 .pro10{background: url("../Image/Project10.webp") no-repeat top/cover; width: 100%; height: 400px; transition: all ease-in-out 5s;}
.wrap-8 .pro10:hover:hover{background-position-y: bottom; transition: all ease-in-out 5s;}
.wrap-8 h2{font: 500 2rem var(--ff); margin-bottom: 1rem; color: #06beb6;}
.wrap-8 p{font: 400 17px var(--ff); color: #414141; padding: 0 0 20px 0;}
.wrap-8 .btns{margin: 50px 0;}
.wrap-8 .btns li{margin: 20px 15px 0 0;}
.wrap-8 .btns ul{display: flex; flex-flow: row wrap; justify-content: center;}
.wrap-8 .btns li a{padding: 10px 20px; border: 1px solid #06beb6; border-radius: 50px; display: inline-block; color: #06beb6;}
.wrap-8 .btns li .active{background: #06beb6; color: #f8f9fa;}
.wrap-8 .card{position: relative; margin-bottom: 20px;}
.wrap-8 .details{position: absolute; left: 0; right: 0; bottom: 0px;  background:rgb(228 238 238 / 49%);  color: #06beb6; transform: scale(1,0); transition: all 500ms ease 0s;}
.wrap-8 .card:hover .details{transform: none;}
.wrap-8 h3{font: 500 20px var(--ff); padding: 40px 0 10px;}
.wrap-8 .dbtn a{border-radius: 25px; margin: 0 0 15px 0; padding: 10px 20px; display: inline-block; background: #06beb6; color: #f8f9fa;}

.wrap-9{padding: 30px 0;}
.wrap-9 h2{font: 500 2rem var(--ff); margin-bottom: 1rem; color: #06beb6; text-align: center;}
.wrap-9 .contact{font: 500 20px var(--ff); line-height: 30px; color: #343a40; text-align: center;}
.wrap-9 .contact a{color: #06beb6; text-decoration: none;}
.wrap-9 .social a{width: 50px; height: 50px; display: inline-block; border: 2px solid #06beb6; border-radius: 50%; display: grid; place-items: center; margin: 5px; font-size: 22px; color: #06beb6;}
.wrap-9 .pic img{max-width: 100%; height: auto;}
.wrap-9 .addr{margin-top: 5rem;}


.wrap-10{padding: 20px 0; background: linear-gradient(90deg, #06beb6 0%, #48b1bf 100%); color: #f8f9fa;}


/* responsive */
@media screen and (max-width:1220px){
    nav ul li a{font: 500 18px var(--ff); padding: 8px;}
    .wrap-4 .progress-bar{width: 470px;}

}
@media screen and (max-width:980px){
    .col-t-1{ flex-basis:8.33%; max-width: 8.33%;}
    .col-t-2{ flex-basis:16.66%; max-width: 16.66%;}
    .col-t-3{ flex-basis:25%; max-width: 25%;}
    .col-t-4{ flex-basis:33.33%; max-width: 33.33%;}
    .col-t-5{ flex-basis:41.66%; max-width: 41.66%;}
    .col-t-6{ flex-basis:50%; max-width: 50%;}
    .col-t-7{ flex-basis:58.33%; max-width: 58.33%;}
    .col-t-8{ flex-basis:66.66%; max-width: 66.66%;}
    .col-t-9{ flex-basis:75%; max-width: 75%;}
    .col-t-10{ flex-basis:83.33%; max-width: 83.33%;}
    .col-t-11{ flex-basis:91.66%; max-width: 91.66%;}
    .col-t-12{ flex-basis:100%; max-width: 100%;}

    .wrap-1 button{display: block; float: right; border: 2px solid #f8f9fa; background: transparent;}
    .wrap-1 .toggle span{display:block; width: 30px; height: 4px; background: #f8f9fa; margin: 4px;}
    .wrap-1 .collapse{display: none; position: absolute; left: 0; right: 0; top: 55px; padding: 15px; background: #48b1bf;}
    .wrap-1 .collapse ul{flex-flow: column wrap; float: right;}
    .wrap-1 .collapse ul li{text-align: right; margin-bottom: 8px; padding: 5px 0;}

    .wrap-2 .banner h3 {font: 700 70px var(--ff);  line-height: 110px;}
    .wrap-5 a,address{font: 300 15px var(--ff); line-height: 30px;}
    .wrap-7 .ser {padding: 10px;}

    .wrap-4 .center{display: grid; place-content: center;}
    
}
@media screen and (max-width:767px){
    html{ font-size: 12px;}
    .col-m-1{ flex-basis:8.33%; max-width: 8.33%;}
    .col-m-2{ flex-basis:16.66%; max-width: 16.66%;}
    .col-m-3{ flex-basis:25%; max-width: 25%;}
    .col-m-4{ flex-basis:33.33%; max-width: 33.33%;}
    .col-m-5{ flex-basis:41.66%; max-width: 41.66%;}
    .col-m-6{ flex-basis:50%; max-width: 50%;}
    .col-m-7{ flex-basis:58.33%; max-width: 58.33%;}
    .col-m-8{ flex-basis:66.66%; max-width: 66.66%;}
    .col-m-9{ flex-basis:75%; max-width: 75%;}
    .col-m-10{ flex-basis:83.33%; max-width: 83.33%;}
    .col-m-11{ flex-basis:91.66%; max-width: 91.66%;}
    .col-m-12{ flex-basis:100%; max-width: 100%;}

    .wrap-5 .box {margin-bottom: 30px;}
    .vertical-line{margin: 15px auto;}
    .wrap-6 .pos {padding: 10px 10px 10px 45px;}
    .wrap-6 .box1{padding: 20px 22px;}
    .vertical-line::after{left: 30px;}
    .right-pos{left: 2px;}
    .wrap-6  span.fa-regular{left: -1px;}
    .wrap-6 .right-pos span.fa-regular{left: -1px;}
    .left-arrow{left: -10px;}
    .right-arrow{left: -10px;}
    .wrap-9 .contact {font: 500 18px var(--ff); padding: 10px;}
    
}
@media screen and (max-width:460px){
    .col-p-1{ flex-basis:8.33%; max-width: 8.33%;}
    .col-p-2{ flex-basis:16.66%; max-width: 16.66%;}
    .col-p-3{ flex-basis:25%; max-width: 25%;}
    .col-p-4{ flex-basis:33.33%; max-width: 33.33%;}
    .col-p-5{ flex-basis:41.66%; max-width: 41.66%;}
    .col-p-6{ flex-basis:50%; max-width: 50%;}
    .col-p-7{ flex-basis:58.33%; max-width: 58.33%;}
    .col-p-8{ flex-basis:66.66%; max-width: 66.66%;}
    .col-p-9{ flex-basis:75%; max-width: 75%;}
    .col-p-10{ flex-basis:83.33%; max-width: 83.33%;}
    .col-p-11{ flex-basis:91.66%; max-width: 91.66%;}
    .col-p-12{ flex-basis:100%; max-width: 100%;}
    
    #orders{order: 1; margin-top: 20px; text-align: center; }
    .wrap-2 .center{text-align: center; display: inline-block;}
    .wrap-5 a, address {padding: 20px;}
    .wrap-4 .progress-bar{width: 350px;}
    .wrap-2{padding-top: 50px;}
    #change{order: -1; padding: 0 0 50px 0;}  
    .wrap-9 .addr {margin-top: 0rem;}  
    .wrap-9 address{font: 300 18px var(--ff); color: #343a40; line-height: 35px;}

}
@media screen and (max-width:359px){
    
}
